.glow-on-hover {
  transition: 0.3s;
  transform: translate(-5px, -3px);
  box-shadow: 2px 2px 3px 1px white;
}

.glow-on-hover:hover {
  transform: translate(-1px, -3px);
  box-shadow: 5px 5px 5px 2px white;
}
